{% extends "landing_generic.html" %} {% block content %}
<div class="container">
	<div class="header">
		<h1>Welcome to The Local Library</h1>
	</div>
	<div class="buttons">
		<a id="login" class="index-btn" href="{% url 'login' %}">Login</a>
		<a id="signup" class="index-btn" href="{% url 'signup' %}">Signup</a>
	</div>
	<div style="
	    color: rgb(249, 251, 251);
	    font-size: 1.1rem;
	    font-family: inherit;
	    background: rgb(0,0,0);
	    padding:  0 15px;
	">
		<p>Use email: test@locallibrary.edu | password: abJK56!@jd</p>
	</div>
</div>
{% endblock content %}
