{% extends "landing_generic.html" %} {% block title %}<title>
	Password Reset - LocalLibrary
</title>
{% endblock title %} {% block content %} {% if validlink %}
<main>
	<div class="reset-confirm">
		<h1 class="reset-title">Set Password</h1>
		<form action="" method="post">
			{% csrf_token %} {{ form.as_ul }}
			<button type="submit" class="btn btn-reset">Confirm</button>
		</form>
		{% else %}
		<p>
			The password reset link was invalid, possibly because it has already
			been used. Please request a new password reset.
		</p>
	</div>
</main>
{% endif %} {% endblock content %}
