/* =========================== */
/* Book List Section */
.main-content {
	margin-top: 12rem;
	font-size: 1em;
}

.book-list > h1 {
	font-size: 2.5rem;
}
.book-list > ul > li {
	padding: 1.5rem 0 1.5rem 0.5rem;
	/* font-size: 1.2rem; */
	border-top: 1px solid rgba(0, 0, 9, 0.5);
}

.book-list > ul > li:nth-child(odd) {
	background: rgba(0, 0, 9, 0.1);
}

/* ========================== */
/* Book Detailed View */
.main-content > h1 {
	font-size: 2.5rem;
}

.copies {
	margin-inline-start: 3rem;
}

.copies h3 {
	font-size: 1.5rem;
}

.copies div {
	border-top: 1px solid rgba(0, 0, 9, 0.3);
	padding-left: 1rem;
}

.copies div:last-child {
	border-bottom: 1px solid rgba(0, 0, 9, 0.3);
}

.copies div:nth-child(even) {
	background-color: rgba(0, 0, 9, 0.1);
}

.copies div p:last-child {
	margin-block-end: 0;
	padding-block-end: 1em;
}

.strong-text {
	font-weight: 700;
	font-family: Zilla Slab;
}

/* Status colors */
.text-success {
	color: rgb(40, 167, 69);
}
.text-warning {
	color: rgb(225, 193, 7);
}
.text-danger {
	color: rgb(220, 53, 69);
}

.pagination {
	/* margin: 2rem auto; */
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.pagelinks .pag-btn {
	-webkit-appearance: none;
	padding: 0.7rem 2rem;
	margin: 1rem 0.5rem;
	appearance: none;
	outline: none;
	border: none;
	background: rgb(173, 181, 189);
	border-radius: 5px;
	font-size: 1.3rem;
	font-weight: 700;
	font-family: monospace;
	cursor: pointer;
}
